:root {
  --color-blueish-white: #edf0fb;
  --color-deep-blue: #081235;
}

* {
  font-family: Montserrat, sans-serif;
}

html {
  background-color: var(--color-deep-blue);
  color: var(--color-blueish-white);
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: grid;
  gap: 15px;
  grid-template-rows: auto 80px;
  margin: 0;
  min-height: 100dvh;
  padding: 0;
  text-align: center;
}

svg {
  background-color: var(--color-deep-blue);
  fill: var(--color-blueish-white);
}

button {
  background-color: transparent;
  border: none;
  color: var(--color-blueish-white);
}

#countdown-button {
  position: fixed;
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  display: none;
}

#countdown-button.show {
  display: block;
}

#toggle-menu {
  position: fixed;
  right: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
}

#countdown {
  font-size: 60px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
}

#buchstabe {
  height: calc(100dvh - 80px);
  font-size: 150px;
  font-weight: bold;
}
#buchstabe.started {
  font-size: 200px;
}

#used {
  margin: 0 0 20px;
  padding: 0 15px;
}